# pycache folders
__pycache__/
**/__pycache__/
**/*.pyc
**/*.pyo

# artifacts
artifacts/
checkpoints/

# conda environment files
env/
.venv/
venv/
.conda/
.conda-env/

# local secrets
.env

# all pdfs under lit/
lit/**/*.pdf
